<div class="container-fluid container-lesson" id='containerLesson'>
  <div class="lesson">
    <div class="lesson-title">
      <h2 class="title">This is the first lesson</h2>
    </div>
    <div class="lesson-explanation">
      <p class="explain" class="explain">
        We have to be sure in wich context we are working, in our first explanation we will suppos our project is being developed by just
        one single programer, son the needs of being synchronized with others are in some way accessory, although this progrmaer could
        develope th project just by working in diferent tasks and this could be equivalent to a group fo programmers, uch big as the number
        of tasks
      </p>
      <br />
      <p class="explain">
        In git we are going to work with the idea of branch, any task we are developing is being developed in a single branch, that's why is
        really important a good planification of the job. Never mind if you call yor tasks, just task, PBI, feature, bug, or whatever, the
        importan is any performance you develop, it will be developer in a branch
      </p>
      <br />
      <p class="explain">The priject is going to be contained in a main branch called master, or at least that is going to be the default name.</p>
    </div>
  </div>
  <div class="representation container-fluid" id="representation">
    <canvas class="canvas" id="cnsaex" #canvas></canvas>
  </div>
</div>
