<div class=" container-fluid context-lesson">
  <div class="lesson container-fluid">
    <div class="lesson-title  mx-4">
      <h2 class="title">This is the first lesson</h2>
    </div>
    <div class="lesson-explanation md-4 mx-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, deserunt sint voluptates tempora vero laudantium rerum? Quasi sit natus, facere minima enim voluptatum modi assumenda neque officia obcaecati illum est unde cupiditate, quam cum, temporibus consequatur itaque dicta nihil! Voluptatum ad odio pariatur magni nisi minima atque perspiciatis dignissimos. Officiis ea, enim deleniti, fugiat minima in sequi error magni debitis, dolorum atque odio. Nam, magni aperiam! Delectus voluptatibus libero magni exercitationem, minus nisi, totam alias maxime, sit maiores tempora vel!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, possimus non. Perspiciatis harum a magnam voluptatibus, recusandae eveniet animi culpa officia aperiam earum quod ullam impedit, ipsam incidunt fugit quos vel similique sed architecto suscipit natus rem voluptatum. Odit et debitis eum laborum. Repudiandae voluptates adipisci id accusamus vel architecto ipsam vero laudantium tenetur fugiat deserunt, tempore quas voluptatem voluptas provident praesentium veritatis nemo impedit excepturi vitae nam harum sit tempora! Dolorum sunt voluptatum adipisci molestias ipsam eaque aspernatur fugit!
      </p>
    </div>
  </div>
  <div class="representation">
    <canvas class="canvas" id="cnsaex" #canvas></canvas>
  </div>
</div>