<div class="main-panel">
  <div class="option-container col-md-6">
    <div class="title-container">
      <h3>CREAR</h3>
      <textarea name="description-create" id="decription-create" cols="30" rows="10">Aqui estamso explicando esto</textarea>
    </div>
  </div><div class="option-container col-md-6">
    <div class="title-container">
      <h3>MODIFICAR</h3>
      <textarea name="description-create" id="decription-create" cols="30" rows="10">Aqui estamso explicando esto</textarea>
    </div>
  </div><div class="option-container col-md-6">
    <div class="title-container">
      <h3>ELIMINAR COSAS</h3>
      <textarea name="description-create" id="decription-create" cols="30" rows="10">Aqui estamso explicando esto</textarea>
    </div>
  </div><div class="option-container col-md-6">
    <div class="title-container">
      <h3>OLEEEE</h3>
      <textarea name="description-create" id="decription-create" cols="30" rows="10">Aqui estamso explicando esto</textarea>
    </div>
  </div>
</div>
