/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import './styles/variables/colors.scss';

@font-face {
  font-family: 'Digital-font';
  src: url('./assets/fonts/Digireu_.ttf')
}


html {
  height:100%;
  background-color: #000000 ;
}
body {
  min-height: 100%;
  background-color: $black ;
  font-family: 'Digital-font';
  color: $green-4;
  padding: 60px 20px;
}

